<mat-toolbar mat-dialog-title color="primary" class="dialog-title">
  Login<button mat-button mat-dialog-close class="close-btn">&times;</button>
</mat-toolbar>
<form name="login-form" (ngSubmit)="onSubmit()" novalidate>
  <div class="login-form-body">
  <mat-dialog-content>

      <mat-input-container>
        <input matInput type="text" placeholder="Enter Username" required [(ngModel)]="user.username" name="username"/>
      </mat-input-container>
      <mat-input-container>
        <input matInput type="password" placeholder="Enter password" required [(ngModel)]="user.password" name="password"/>
      </mat-input-container>
      <mat-checkbox [(ngModel)]="user.remember" required name="remember">remember me!</mat-checkbox>

  </mat-dialog-content>
  </div>
    <div class="login-form-footer"><hr/>
    <mat-dialog-actions>
       <span class="flex-spacer"></span>
       <button mat-button mat-dialog-close>cancel</button>
          <button mat-button type="submit"  class="background-primary text-floral-white">Submit</button>
    </mat-dialog-actions>
  </div>
</form>
